.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-cb8177c5-d582-7abf-aa4d-dffb4d4f1482 {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--body-color) !important;
}
.lfr-layout-structure-item-d98f0fa5-0ecd-4fd8-4faa-991da4ecb65e {
padding-bottom: var(--spacer-2,0.5rem) !important;
padding-right: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-17d9d0a8-ac0c-16ff-39d5-a45235398773 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-17d9d0a8-ac0c-16ff-39d5-a45235398773) !important;
height: 350px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-38a2ff30-281a-3af1-a2d7-891a06be7e23 {
margin-bottom: var(--spacer-6,4.5rem) !important;
}
.lfr-layout-structure-item-52332de1-5674-c65b-0020-61e9bbc11293 {
color: #272833 !important;
}
.lfr-layout-structure-item-e19e6637-27e6-a9c0-b76b-0f8738f3c2ce {
display: none !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-b0ab1deb-05aa-f08c-3643-5b686d12442e {
 
}.lfr-layout-structure-item-67a61ce4-33e3-6746-62c1-4f4c28532791 {
color: #272833 !important;
}
.lfr-layout-structure-item-658675e7-baec-3357-87c4-28db7e5d8e3d {
font-size: 14px !important;
}
.lfr-layout-structure-item-f647c8af-5d61-3aa9-3472-f24dd9445480 {
font-size: 1rem !important;
}
.lfr-layout-structure-item-210e5ec4-3f5f-e137-308e-e5e6255f7d0a {
font-size: 1.25em !important;
padding-right: 2.5rem !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-6ce2c910-fc11-2ff0-4b14-e356215f5eb2 {
/*box-shadow: 0 0 6px rgba(0,0,0,0.2);*/
}.lfr-layout-structure-item-32df590d-56c7-f1b5-56a0-b07aee31ccd1 {
font-size: 14px !important;
}
.lfr-layout-structure-item-9eebdc15-78a1-afc2-aa86-e97c592e8a08 {
color: var(--white) !important;
}
.lfr-layout-structure-item-2780f331-fe25-6faf-89aa-38e42c83b11b {
background-color: #000121 !important;
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-2780f331-fe25-6faf-89aa-38e42c83b11b) !important;
}
.lfr-layout-structure-item-c226d988-f9da-3e0c-a46a-d7ea4d6a37b8 {
font-weight: var(--font-weight-bold) !important;
text-align: center !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-c226d988-f9da-3e0c-a46a-d7ea4d6a37b8 {
font-size:3rem;
}.lfr-layout-structure-item-a0eed00f-e666-d8d5-4a01-781e1a3a7f89 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-a0eed00f-e666-d8d5-4a01-781e1a3a7f89) !important;
}
.lfr-layout-structure-item-37ab7891-c10f-1472-02c5-0aacda265824 {
max-height: 638px !important;
}
.lfr-layout-structure-item-0c5a617e-2680-8931-60c1-8f4127db8518 {
text-align: center !important;
}
.lfr-layout-structure-item-5e485932-f44f-8583-0135-6efdba589f93 {
margin-bottom: var(--spacer-5,3rem) !important;
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-1b8dee66-9967-b769-9eb4-2e8a53b3cfc7 {
padding-left: 2rem !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-d0886f5b-633e-35f9-2fd6-f3ac4088967a {
font-size: 16px !important;
font-weight: var(--font-weight-bold) !important;
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
color: var(--brand-color-4) !important;
}
.lfr-layout-structure-item-8feb2ad7-1114-eaa4-c8ab-3c4ededca37d {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-49b499e1-36d8-398e-a03e-47b3ee6ba727 img {
    border-radius: 0px !important;

}
.lfr-layout-structure-item-65e7f0fc-7973-7ac5-2cdb-1ba6812f689e {
font-size: 1rem !important;
margin-bottom: var(--spacer-3,1rem) !important;
margin-top: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-a5c7d00c-0165-6b06-235f-b5298535ae01 {
padding-left: var(--spacer-5,3rem) !important;
padding-right: var(--spacer-5,3rem) !important;
text-align: center !important;
}
.lfr-layout-structure-item-880a85b0-f652-80b7-e292-d157ae3b33e5 {
text-align: right !important;
}
.lfr-layout-structure-item-6226a025-c3f5-198c-b5a5-eca0439af84e {
display: none !important;
}
.lfr-layout-structure-item-6226a025-c3f5-198c-b5a5-eca0439af84e {
	background-color: #fff !important;
}.lfr-layout-structure-item-6993cec9-f4d0-e2b6-e2c3-aeeedc644f89 {
font-weight: 400 !important;
}
.lfr-layout-structure-item-6a32985d-22a6-d6be-65c6-cea0d32bd233 {
	background-color: #fff !important;
}.lfr-layout-structure-item-7d17d33b-f0f1-868b-4123-5ac7ba693587 {
font-size: 14px !important;
}
.lfr-layout-structure-item-b58e920f-2591-26c7-bc12-da3c1c2f710d {
display: none !important;
}
.lfr-layout-structure-item-71ee6bc0-65da-16ee-0d08-53e71fa33bd9 {
text-align: center !important;
}
.lfr-layout-structure-item-f094ce68-3e54-62c9-0ed2-5a4fbfda170b {
padding-bottom: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-cdf88926-bbc6-25c1-aeff-01ae6ee522cd {
display: none !important;
margin-bottom: var(--spacer-5,3rem) !important;
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-3290b66e-9bdd-289f-65a5-2822ebf13827 {
color: var(--white) !important;
}
.lfr-layout-structure-item-33cb09be-090f-1ca4-c1a2-05d9c6d57e02 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-33cb09be-090f-1ca4-c1a2-05d9c6d57e02) !important;
}
.lfr-layout-structure-item-cff73830-a577-97bb-34e7-ec2137abb9a4 {
}
.hide-first-highlight .lfr-layout-structure-item-collection .container-fluid.overflow-hidden > div:first-child {
	display: none;
}

.hide-first-highlight .lfr-layout-structure-item-collection .container-fluid.overflow-hidden > div:nth-child(4) .lfr-layout-structure-item-basic-component-spacer{
	display: none;
}.lfr-layout-structure-item-b3930873-71e5-347a-584b-5dd69a7fdeaf {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--body-color) !important;
}
.lfr-layout-structure-item-d4d1c20c-88c4-f956-13e2-01cb04b1da02 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-d4d1c20c-88c4-f956-13e2-01cb04b1da02) !important;
}
.lfr-layout-structure-item-64f254ad-eba7-f1f3-49e7-f44cbc3d2a91 {
min-height: 165px !important;
padding-bottom: var(--spacer-3,1rem) !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-64f254ad-eba7-f1f3-49e7-f44cbc3d2a91 {
 
}.lfr-layout-structure-item-39e6840e-b994-31a7-fba5-3d3e7e6fbbf7 {
padding-bottom: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-548dbaad-8c61-a54d-6093-895564e77b86 {
background-color: #000001 !important;
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-548dbaad-8c61-a54d-6093-895564e77b86) !important;
display: none !important;
margin-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-c8af509f-6dd6-867a-033b-bfca33d0a969 {
margin-bottom: var(--spacer-6,4.5rem) !important;
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-540cd4e6-3ab7-b201-6269-a6dd49c7b14d {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-540cd4e6-3ab7-b201-6269-a6dd49c7b14d) !important;
height: 350px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-b1fa07cc-ea46-551f-b79b-7165a392f9bc {
font-size: 1.25rem !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-21221d7b-79a1-e986-50dd-cd8d62a1fa8e {
text-align: center !important;
}
.lfr-layout-structure-item-4b5fc5d3-fa32-e1b3-9c12-d2487001edfc {
background-color: #FFFFFF !important;
height: 570px !important;
color: var(--brand-color-3) !important;
}
.lfr-layout-structure-item-f3f3aa9d-0dbc-4df3-9baf-037a75311692 {
padding-left: var(--spacer-5,3rem) !important;
padding-right: var(--spacer-5,3rem) !important;
text-align: center !important;
}
.lfr-layout-structure-item-ca5f20cc-dccb-f0aa-dd95-5b6fd78a76df {
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-1fdd8d46-bedf-19a0-d818-75d464812a4e {
padding-left: var(--spacer-2,0.5rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-b1d0213f-0333-dde2-3352-449f464e7de3 {
color: var(--brand-color-3) !important;
}
.lfr-layout-structure-item-0c5e0fb0-8cb9-5f89-6356-292a76b17519 {
font-size: 16px !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-ae1ccf4c-bf5e-1b6f-c218-f9f5eaaba108 {
text-align: center !important;
}
.lfr-layout-structure-item-2f37e466-8a98-1276-9d6e-26175c0ed991 {
font-size: 2rem !important;
font-weight: var(--font-weight-bolder) !important;
padding-top: var(--spacer-5,3rem) !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-fb01a512-f591-e83d-400d-54e73111ad70 {
margin-top: var(--spacer-7,6rem) !important;
}
.lfr-layout-structure-item-5e98cd58-dd30-fc1d-41cc-5fc26bb0bb6f {
font-size: 1.25rem !important;
}
.lfr-layout-structure-item-abe235c6-4764-e546-43ea-1ed945388670 {
color: var(--white) !important;
}
.lfr-layout-structure-item-038bfc9d-738a-bf9a-9a83-4d7220b4e713 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-52aa52c7-8cba-dc30-7282-ca4a6639c278 {
text-align: center !important;
}
.lfr-layout-structure-item-0787bcd7-b2e3-ce5b-265c-06a0b7fc9121 {
padding-left: var(--spacer-2,0.5rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-bfabe85e-b468-1cd4-de21-39813604fb10 {
display: none !important;
}
.lfr-layout-structure-item-9a7487f8-29a3-f876-fb66-c27dc4d8228d {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-9a7487f8-29a3-f876-fb66-c27dc4d8228d) !important;
height: 350px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-e2ac98b7-3f38-ffe0-9949-d2b94a705d51 {
font-weight: 400 !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--body-color) !important;
}
.lfr-layout-structure-item-5eea263a-4a9e-edde-3546-7fd45d5decbf {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-5eea263a-4a9e-edde-3546-7fd45d5decbf) !important;
}
.lfr-layout-structure-item-511911fc-0f92-59ac-9c37-1c086be1eec5 {
padding-bottom: var(--spacer-2,0.5rem) !important;
color: var(--brand-color-4) !important;
}
.lfr-layout-structure-item-eb3055d2-536e-5ca2-b531-73e92d7634e6 {
margin-bottom: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-76aad635-ce7c-5213-ffdb-ee1d11a3c89a {
background-color: #000616 !important;
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-76aad635-ce7c-5213-ffdb-ee1d11a3c89a) !important;
height: 350px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-f4ceef0a-3e36-efbc-a683-cd731e33daf7 {
font-size: 14px !important;
}
.lfr-layout-structure-item-e8196541-8ea1-bef8-6ca2-6a6309a2f647 {
font-size: 1em !important;
margin-left: 30px !important;
padding-bottom: 20px !important;
padding-left: 20px !important;
padding-right: 30px !important;
padding-top: 10px !important;
color: var(--gray-600) !important;
}
.lfr-layout-structure-item-e8196541-8ea1-bef8-6ca2-6a6309a2f647 {
    border-left:2px solid #cc0000;
    margin-top: 16px;
    padding-left: 16px;
}.lfr-layout-structure-item-37626c16-19e1-91bc-68f0-d6ec35622a0f {
font-size: 1.25rem !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-01315b0a-a547-abd1-7bd7-8055e49299ae {
overflow: auto !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
color: var(--body-color) !important;
}
.lfr-layout-structure-item-327e8b01-75c0-3130-818b-900bc9d3b75e {
text-align: center !important;
}
.lfr-layout-structure-item-b8ff450d-b612-a2aa-717f-3a7eb3cba3c1 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-b8ff450d-b612-a2aa-717f-3a7eb3cba3c1) !important;
margin-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-bbed6c07-4b1b-c044-80c3-dad119a7a70e {
font-size: 1rem !important;
margin-bottom: var(--spacer-3,1rem) !important;
margin-top: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-8979d6b9-8cf2-204d-7538-63a2411f3130 {
color: var(--brand-color-4) !important;
}
.lfr-layout-structure-item-7339480f-11f7-5377-7f4b-c03b7f51a84a {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-5c3313f2-4200-d57c-d41e-b20a77c1694f {
padding-top: var(--spacer-5,3rem) !important;
text-align: right !important;
}
.lfr-layout-structure-item-d2ec53b4-9b68-35d7-0767-2d68b7d0c130 {
padding-bottom: var(--spacer-3,1rem) !important;
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-e14be982-9608-74fc-819c-1ac48b924a69 {
font-size: 1rem !important;
margin-bottom: var(--spacer-3,1rem) !important;
margin-top: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-b587bb22-641f-3c7f-92fd-97e844a2ff75 {
padding-left: var(--spacer-5,3rem) !important;
padding-right: var(--spacer-5,3rem) !important;
text-align: center !important;
}
.lfr-layout-structure-item-899cbf1d-e20b-f1e5-e756-2b9aea9abae0 {
font-size: 14px !important;
}
.lfr-layout-structure-item-0bb8b63b-acc8-34b9-7abc-cc3d50616652 {
background-color: #F77531 !important;
}
.lfr-layout-structure-item-27b52366-e45c-7815-5ba9-1dbb18c1744b {
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-db673b6f-cec8-c801-24a3-4495498504a6 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-db673b6f-cec8-c801-24a3-4495498504a6) !important;
}
.lfr-layout-structure-item-ca8f64b2-2c73-e78e-1551-c5d605dbb1ab {
border-style: solid; border-width: 0 !important; border-width: 0px !important;
}
.lfr-layout-structure-item-3e54d21d-c23e-f647-150c-f8302b5f24b8 {
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-9f54cda4-69f5-bf00-e5b0-90cd2185dc38 {
font-size: 22px !important;
font-weight: var(--font-weight-bold) !important;
margin-left: 30px !important;
padding-left: 20px !important;
padding-right: 30px !important;
}
.lfr-layout-structure-item-1555bece-c920-7202-e65f-0f77e1e22cff {
color: var(--body-color) !important;
}
.lfr-layout-structure-item-ef3e46ca-24c5-3f9b-b65a-157d7ec315f8 {
text-align: center !important;
}
.lfr-layout-structure-item-b0b86f28-c335-ca5b-293f-cb063098ea7c {
color: var(--brand-color-4) !important;
}
.lfr-layout-structure-item-6071bdd7-f22f-0158-5afb-10e535c92887 {
display: none !important;
}
.lfr-layout-structure-item-a84268ef-57db-697a-e303-3d9892d31116 {
margin-top: var(--spacer-4,1.5rem) !important;
text-align: center !important;
}
.lfr-layout-structure-item-83af428a-52cf-df26-0095-e206a970caa5 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-83af428a-52cf-df26-0095-e206a970caa5) !important;
}
.lfr-layout-structure-item-0e6a11e0-e23b-a0fe-c42f-ad4734eed958 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-0e6a11e0-e23b-a0fe-c42f-ad4734eed958) !important;
}
.lfr-layout-structure-item-1267e01e-2122-5632-4bc3-f9a6bd64f0f6 {
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-bbad67cc-cb16-18d8-9714-0ceeb39c25d7 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-bbad67cc-cb16-18d8-9714-0ceeb39c25d7) !important;
}
.lfr-layout-structure-item-693fb791-96ae-a3df-e650-99981bcc894f {
margin-bottom: var(--spacer-6,4.5rem) !important;
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-55ef101f-57d7-24eb-663b-c3d7bced43a3 {
margin-top: var(--spacer-7,6rem) !important;
}
.lfr-layout-structure-item-48e3d38f-48f3-b115-1b75-dbc204b6f466 {
min-height: 795px !important;
}
.lfr-layout-structure-item-d6d2da98-1c78-6bb1-6277-ee9e981f18a1 {
text-align: center !important;
}
.lfr-layout-structure-item-93483a1e-4cc8-9793-74d6-0e0c74f39cf4 {
margin-bottom: var(--spacer-3,1rem) !important;
color: var(--brand-color-3) !important;
}
.lfr-layout-structure-item-62770611-5219-36c1-d79a-121844629ed0 {
background-position: 50% 50%; background-repeat:no-repeat; background-size: cover; background-image: var(--lfr-background-image-62770611-5219-36c1-d79a-121844629ed0) !important;
}
@media screen and (max-width: 991px) {.lfr-layout-structure-item-d98f0fa5-0ecd-4fd8-4faa-991da4ecb65e {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-38a2ff30-281a-3af1-a2d7-891a06be7e23 {
margin-bottom: var(--spacer-6,4.5rem) !important;
}
.lfr-layout-structure-item-210e5ec4-3f5f-e137-308e-e5e6255f7d0a {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-c226d988-f9da-3e0c-a46a-d7ea4d6a37b8 {
font-size:2rem;
}.lfr-layout-structure-item-1b8dee66-9967-b769-9eb4-2e8a53b3cfc7 {
padding-left: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-a216ba60-9d9e-246e-80aa-b921e8668f1d {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-65e7f0fc-7973-7ac5-2cdb-1ba6812f689e {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-a5c7d00c-0165-6b06-235f-b5298535ae01 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-b1fa07cc-ea46-551f-b79b-7165a392f9bc {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-4b5fc5d3-fa32-e1b3-9c12-d2487001edfc {
height: 770px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-f3f3aa9d-0dbc-4df3-9baf-037a75311692 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-ca5f20cc-dccb-f0aa-dd95-5b6fd78a76df {
padding-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-1fdd8d46-bedf-19a0-d818-75d464812a4e {
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-0c5e0fb0-8cb9-5f89-6356-292a76b17519 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-ae1ccf4c-bf5e-1b6f-c218-f9f5eaaba108 {
margin-bottom: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-728700e5-b81e-b154-fb6d-7394ee9f9dd0 {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-f7e1c1a9-8dfe-de58-7f1f-580371b4d9e9 {
min-height: 300px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-fb01a512-f591-e83d-400d-54e73111ad70 {
margin-top: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-52aa52c7-8cba-dc30-7282-ca4a6639c278 {
text-align: right !important;
}
.lfr-layout-structure-item-ce1c2ec6-404e-6233-6d9e-afae4767ee78 {
min-height: 300px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-37626c16-19e1-91bc-68f0-d6ec35622a0f {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-bbed6c07-4b1b-c044-80c3-dad119a7a70e {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-5c3313f2-4200-d57c-d41e-b20a77c1694f {
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-e14be982-9608-74fc-819c-1ac48b924a69 {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-0bb8b63b-acc8-34b9-7abc-cc3d50616652 {
min-height: 300px !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-5ea79857-46b6-85d2-8f6b-3035acc9d446 {
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-27b52366-e45c-7815-5ba9-1dbb18c1744b {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-ca8f64b2-2c73-e78e-1551-c5d605dbb1ab {
margin-top: var(--spacer-0,0rem) !important;
padding-bottom: var(--spacer-6,4.5rem) !important;
padding-top: var(--spacer-6,4.5rem) !important;
}
.lfr-layout-structure-item-0e6a11e0-e23b-a0fe-c42f-ad4734eed958 {
padding-left: var(--spacer-5,3rem) !important;
padding-right: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-93483a1e-4cc8-9793-74d6-0e0c74f39cf4 {
padding-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-31663b39-625e-7f83-6ce2-76d1e88405ea {
display: none !important;
}
}@media screen and (max-width: 767px) {.lfr-layout-structure-item-1034d226-02dd-1f5d-aefc-18208c314ad0 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-210e5ec4-3f5f-e137-308e-e5e6255f7d0a {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-8f661489-a76f-9e4d-5d17-caab51443d24 {
margin-top: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-a216ba60-9d9e-246e-80aa-b921e8668f1d {
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-65e7f0fc-7973-7ac5-2cdb-1ba6812f689e {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-880a85b0-f652-80b7-e292-d157ae3b33e5 {
text-align: center !important;
}
.lfr-layout-structure-item-3fd0881e-059c-35fe-476f-15b7d98a8aa5 {
margin-top: var(--spacer-0,0rem) !important;
padding-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-cff73830-a577-97bb-34e7-ec2137abb9a4 {
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-cff73830-a577-97bb-34e7-ec2137abb9a4 {
}
.hide-first-highlight .lfr-layout-structure-item-collection .container-fluid.overflow-hidden > div:first-child {
	display: none;
}
.hide-first-highlight .lfr-layout-structure-item-collection .container-fluid.overflow-hidden > div:nth-child(4) .lfr-layout-structure-item-basic-component-spacer{
	display: none;
}
.lfr-layout-structure-item-64f254ad-eba7-f1f3-49e7-f44cbc3d2a91 {
margin-bottom: var(--spacer-2,0.5rem) !important;
margin-top: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-b1fa07cc-ea46-551f-b79b-7165a392f9bc {
margin-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-0,0rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-4b5fc5d3-fa32-e1b3-9c12-d2487001edfc {
height: 640px !important;
}
.lfr-layout-structure-item-ca5f20cc-dccb-f0aa-dd95-5b6fd78a76df {
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-0c5e0fb0-8cb9-5f89-6356-292a76b17519 {
padding-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-ae1ccf4c-bf5e-1b6f-c218-f9f5eaaba108 {
margin-bottom: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-728700e5-b81e-b154-fb6d-7394ee9f9dd0 {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-f7e1c1a9-8dfe-de58-7f1f-580371b4d9e9 {
margin-bottom: var(--spacer-3,1rem) !important;
min-height: 283px !important;
}
.lfr-layout-structure-item-5e98cd58-dd30-fc1d-41cc-5fc26bb0bb6f {
margin-bottom: var(--spacer-4,1.5rem) !important;
margin-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-52aa52c7-8cba-dc30-7282-ca4a6639c278 {
text-align: center !important;
}
.lfr-layout-structure-item-ce1c2ec6-404e-6233-6d9e-afae4767ee78 {
margin-bottom: var(--spacer-3,1rem) !important;
min-height: 283px !important;
}
.lfr-layout-structure-item-37626c16-19e1-91bc-68f0-d6ec35622a0f {
margin-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-4,1.5rem) !important;
padding-right: var(--spacer-0,0rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-bbed6c07-4b1b-c044-80c3-dad119a7a70e {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-e14be982-9608-74fc-819c-1ac48b924a69 {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-0bb8b63b-acc8-34b9-7abc-cc3d50616652 {
min-height: 234px !important;
}
.lfr-layout-structure-item-27b52366-e45c-7815-5ba9-1dbb18c1744b {
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-ca8f64b2-2c73-e78e-1551-c5d605dbb1ab {
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-ef3e46ca-24c5-3f9b-b65a-157d7ec315f8 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
}@media screen and (max-width: 575px) {.lfr-layout-structure-item-17d9d0a8-ac0c-16ff-39d5-a45235398773 {
padding-left: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-70b79101-1a40-0010-ef9d-fd5a1b05500e {
margin-left: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-d0886f5b-633e-35f9-2fd6-f3ac4088967a {
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-a216ba60-9d9e-246e-80aa-b921e8668f1d {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-65e7f0fc-7973-7ac5-2cdb-1ba6812f689e {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-a5c7d00c-0165-6b06-235f-b5298535ae01 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-cff73830-a577-97bb-34e7-ec2137abb9a4 {
padding-top: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-64f254ad-eba7-f1f3-49e7-f44cbc3d2a91 {
margin-bottom: var(--spacer-2,0.5rem) !important;
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-b1fa07cc-ea46-551f-b79b-7165a392f9bc {
padding-left: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-21221d7b-79a1-e986-50dd-cd8d62a1fa8e {
padding-bottom: var(--spacer-0,0rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-4b5fc5d3-fa32-e1b3-9c12-d2487001edfc {
height: 610px !important;
margin-bottom: var(--spacer-4,1.5rem) !important;
padding-bottom: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-f3f3aa9d-0dbc-4df3-9baf-037a75311692 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-ca5f20cc-dccb-f0aa-dd95-5b6fd78a76df {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-1fdd8d46-bedf-19a0-d818-75d464812a4e {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-b1d0213f-0333-dde2-3352-449f464e7de3 {
margin-bottom: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-0c5e0fb0-8cb9-5f89-6356-292a76b17519 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-ae1ccf4c-bf5e-1b6f-c218-f9f5eaaba108 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-728700e5-b81e-b154-fb6d-7394ee9f9dd0 {
margin-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-f7e1c1a9-8dfe-de58-7f1f-580371b4d9e9 {
min-height: 280px !important;
}
.lfr-layout-structure-item-52aa52c7-8cba-dc30-7282-ca4a6639c278 {
padding-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-0787bcd7-b2e3-ce5b-265c-06a0b7fc9121 {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-ce1c2ec6-404e-6233-6d9e-afae4767ee78 {
min-height: 280px !important;
}
.lfr-layout-structure-item-e8196541-8ea1-bef8-6ca2-6a6309a2f647 {
margin-left: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-37626c16-19e1-91bc-68f0-d6ec35622a0f {
padding-left: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-bbed6c07-4b1b-c044-80c3-dad119a7a70e {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-5c3313f2-4200-d57c-d41e-b20a77c1694f {
margin-right: var(--spacer-0,0rem) !important;
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-e14be982-9608-74fc-819c-1ac48b924a69 {
padding-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-b587bb22-641f-3c7f-92fd-97e844a2ff75 {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-0bb8b63b-acc8-34b9-7abc-cc3d50616652 {
min-height: 240px !important;
}
.lfr-layout-structure-item-5ea79857-46b6-85d2-8f6b-3035acc9d446 {
margin-top: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-27b52366-e45c-7815-5ba9-1dbb18c1744b {
padding-left: var(--spacer-0,0rem) !important;
padding-right: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-ca8f64b2-2c73-e78e-1551-c5d605dbb1ab {
margin-top: var(--spacer-0,0rem) !important;
padding-bottom: var(--spacer-5,3rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-3e54d21d-c23e-f647-150c-f8302b5f24b8 {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-9f54cda4-69f5-bf00-e5b0-90cd2185dc38 {
margin-left: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-a84268ef-57db-697a-e303-3d9892d31116 {
padding-bottom: var(--spacer-0,0rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-0e6a11e0-e23b-a0fe-c42f-ad4734eed958 {
padding-left: var(--spacer-3,1rem) !important;
padding-right: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-bfce23c5-76fd-045f-88a9-88ce3650e55a {
padding-left: var(--spacer-0,0rem) !important;
}
}