
/* NP-NAVBAR */

.np-navbar li.nav-item {
  padding-bottom: 0;
}
.np-navbar .dropdown:hover .dropdown-menu{
  display: block;
  margin-top:0;
}
.np-navbar .dropdown:hover .dropdown-menu.sedes{
  display: flex;
}
.navbar-collapse.menu-container{
  background-color: #1E1E1E;
  max-width: 100%;
}
.np-navbar.navbar{
  background-color: #1E1E1E;
  color: #F2F2F2;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  z-index: 10;
}
.np-navbar.navbar .nav-link{
  color: #F2F2F2;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
}
.np-navbar.navbar .nav-link.icon{
	font-size: 1.375rem;
  display: flex;
  align-items: center;
}
/* MENU SUPERIOR */
.np-navbar.navbar .navbar-sup{
  border-bottom: 1px solid #f2f2f2;
}
.np-navbar.navbar .navbar-sup .nav-link{
  font-size: .9rem;
	font-weight: normal;
}
/* MENU INFEROR */
.np-navbar.navbar .navbar-bott .nav-link{
  font-size: .8rem;
	font-weight: 700;
}
.np-navbar .dropdown i,
.np-navbar .btn-admision i{
  font-size: 1.5rem;
}
.np-navbar .btn-admision i{
  transform: rotateZ(-90deg);
}

.np-navbar .dropdown-menu{
  background-color: rgba(245, 245, 245, 0.90);
  border-radius: 6px;
  padding: 30px;
}
.np-navbar .dropdown-menu{
  right: 0;
  left: inherit;
}

.np-navbar .dropdown-menu li{
  padding: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #17171A;
  cursor: pointer;
}
.np-navbar .dropdown-item{
  color: #17171A;
  font-size: .75rem;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
}
.np-navbar .dropdown-menu .dropdown-item{
  padding: 0;
  margin-bottom: 10px;
  min-width: 150px;
}

.np-navbar .dropdown-menu.sedes.show{
  display: flex;
}


.np-navbar .dropdown-menu li.li-intranet:first-child{
  margin-top: 0;
}
.np-navbar .dropdown-menu li.li-intranet{
  margin-top: 1rem;
  border-bottom: none;
}

.np-navbar .dropdown-menu li:last-child{
  border-bottom: none;
}
.np-navbar .navbar-collapse.show{
  display: flex;
}
.np-navbar .navbar-brand{
  max-width: 100%;
}
.np-navbar button.navbar-toggler{
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}
.np-navbar .navbar-collapse{
  flex-wrap: initial;
}
.np-navbar-brand-mobile img{
  /*width: 100%;*/
  height: 22px;
}

.btn-admision {
  border-radius: 50px;
  padding: 5px 15px !important;
  border: 1px solid #fff;
  background: white;
  color: #222222 !important;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100px;
}

.li-icon{
  position: relative;
}
.li-icon:before{
  content: '';
  background-color: #fff;
  position: absolute;
  margin: auto;
  width: 1px;
  height: 50%;
  top: 0;
  bottom: 0;
  left: -10px;
}
.nav-item.show .accesibility-font .material-icons{
  transform: rotateZ(0deg);
}
.nav-item.show .icon .material-icons{
  transform: rotateZ(0deg);
}
li .btn-accesibility-clean{
  font-family: "Roboto-Regular", sans-serif;
}
.nav-item.show .material-icons{
  transform: rotateZ(-90deg);
  transition: all 0.3s;
}
.nav-item .material-icons{
  transform: rotateZ(0deg);
  transition: all 0.3s;
}
.np-navbar .dropdown-menu.sedes .col-md-3 .sedes-submenu.sedes-p li{
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: none;
  font-size: .75rem;
}



.dropdown-menu.sedes .col-md-3 li:first-child,
.np-navbar .dropdown-menu li.li-intranet{
  font-size: .75rem;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: none;
  margin-bottom: 15px;
}
.dropdown-menu.sedes .col-md-3 .sedes-submenu li:first-child{
  text-transform: initial;
  border-bottom: 1px solid #17171A;

}

.li-intranet:last-child a{
  color: inherit;
}
.intranet-estudiantes li:last-child{
  border-bottom: none;
}
.dropdown-menu.sedes .col-md-3:last-child li a{
  color: #17171A;
  font-family: "Roboto-Regular", sans-serif;
}


ul.list-unstyled li .dropdown-menu li a{color:#000;}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.logo-header-lf{
  height: 35px;
  width: auto;
  max-width: initial;
}

/** Deskt */
.np-nueva-sede{
  color: #E1261D;
  font-weight: 600;
}
.nav-link:hover::before{
  opacity: 1;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}
/** Ajustes dropbox*/
.dropdown, .dropend, .dropstart, .dropup {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}
/** logo*/

/****/
/**NavTop*/

.navbar{
  z-index: 2;
}
/* ajustes liferay */
.dropdown-menu.sedes{
  min-width: 875px;
  min-height: auto;
  }
/* MOBILEEE */
.btn-mobile-sede{
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: inherit;
  padding: inherit;
  color: #333;
}
.dropdown-menu li a.sede-online{
  font-size: 0.875rem;
  font-weight: bold;
  color: #333;
}
@media (max-width: 1279px) {
  .np-navbar.navbar .navbar-bott .nav-link{
    font-size: 1rem;
  }
  .np-navbar li.nav-item {
    width: 100%;
  }
  .np-navbar .dropdown-item{
    color: #fff;
  }
  .np-navbar.navbar .navbar-collapse {
    height: calc(100vh - 60px);
    overflow-y: scroll;
  }
  .np-navbar.navbar{
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .intranet li .material-icons ,
  .nav-item .material-icons {
    transform: rotateZ(-90deg);
    transition: all 0.3s;
  }
  
  .np-navbar.navbar .dropdown-menu.show{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
    background-color: #1E1E1E;
  }
  
  .navbar-bott{
    order: 1;
    z-index: 1;
    width: 100%;
    margin-bottom: 10px;
  }
  .collapsing{
    display: flex;
  }
  .collapsing .navbar-sup{
    order:2;
    
  }
  .navbar-sup{
    order: 2;
    z-index: 2;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    border-bottom: none;
    margin-bottom: 1.5rem;
  }
  .np-navbar.navbar .navbar-sup {
    border-bottom: none;
  }
  .sedes .col-md-3{
    flex-basis: auto;
  }
  .sedes-submenu-mobile .breadcrumb{
    background-color: transparent;
  }
  .sedes-submenu-mobile .breadcrumb-item.active{
    color: #f2f2f2;
  }
  .sedes-submenu-mobile .breadcrumb-item + .sedes-submenu-mobile .breadcrumb-item::before{
    content:'>';
    color: #f2f2f2;
    background-image: none;
    top: 0;
  }
  .sedes-submenu-mobile{
    z-index: 9;
    position: absolute;
    background-color: #1E1E1E;
    width: 100vw;
    height: 100vh;
    padding: 0.5rem 1rem;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 100%;

    transition: all .3s;
  }
  .sedes-submenu-mobile ul{
    list-style: none;
    padding: 0;
    color: #F2F2F2;
  }
  .sedes-submenu-mobile ul li{
    margin-bottom: 10px;
  }
  .sedes-submenu-mobile .breadcrumb{
    font-size: 1rem;
    font-weight: 700;
  }
  .sedes-submenu-mobile ul .nav-item{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    padding: inherit;
    color: inherit;
  }
  .btn-volver-submenu{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    color: inherit;
  }
  .np-navbar .btn-volver-submenu.btn-admision i{
    transform: rotateZ(90deg);
  }
}

.nav-link{
  color: #222220;
}
.nav-link:hover{
  color: initial;
}
.np-menu-accesibility .dropdown-accesibility a{
  background-color: transparent;
}
.dropdown-menu li {
  position: relative;
}
.dropdown-menu li a{
  color: #fff;
}



/** logo*/


/****/
/**NavTop*/
.accesibility-font button{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #bfbfbf;
  border: none;
}
.btn-accesibility-clean{
  border: none;
  background-color: #707070;
  font-size: .875rem;
  color: #f0f0f0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
@media (min-width: 992px){
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}