.btn_quad {
	padding: 12px 7px;
    font-size: 1em;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px){
	.btn_quad {
		padding: 20px 10px;
	    font-size: 1.1em;
	    width: 100%;
	    height: 100%;
	}
	.btn_quad a {
		hyphens: manual;
	}
}

@media (min-width: 980px){
	.btn_quad {
	    font-size: 1.2em;
	}
}


.btn_quad img {
	width: 28px;
	margin-right: 10px;
}
.btn_quad span {
	font-size: 1.6em;
}

.btn_quad.blanco {
	background-color: #fff;
	border: 3px solid #222;
	color: #222;
}

.btn_quad.blanco a {
	color: #222!important;
}

.btn_quad.blanco span {
	color: #ce382b;
}

.btn_quad.negro {
	background-color: #222;
	color: white;
}
.btn_quad.negro a{
	color: white!important;
}

.btn_quad.negro span{
	color: white;
}

.btn_quad.gris-oscuro {
	background-color: #707070;
	color: white;
}
.btn_quad.gris-oscuro a{
	color: white!important;
}

.btn_quad.gris-oscuro span{
	color: white;
}
